<h3 class="month-title"><%= @current_month %></h3>
<div class="button-container">
  <table>
    <col width="200">
    <col width="200">
    <col width="200">
    <col width="200">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Monthly Budget</th>
      <th scope="col">To-Date Spending</th>
      <th scope="col">Amount Left</th>
      <th></th>
    </tr>
      <% @budget[@current_month].each_with_index do |budget, id| %>
        <tr>
          <td><%= budget[:category] %></td>
          <td>$<%= budget[:amount] %></td>
          <td>
            <form action="/budget/<%= @current_month %>/new_spending/<%= id %>" method='get'>
              <label for="new_spending">$<%= category_spending_total(@current_month, id) %></label>
              <button type="Submit">Add Expense</button>
            </form>
          </td>
          <td><%= budget[:amount].to_i - budget[:todate].to_i %></td>
          <td>
            <form action="/budget/<%= @current_month %>/<%= id %>/edit" method='get'>
              <button type='Submit'>Edit</button>
            </form>
            <form action="/budget/<%= @current_month %>/<%= id %>/delete" method='post'>
              <button type='Submit'>Delete</button>
            </form>
          </td>
        </tr>
      <% end %>
    <tfoot>
      <tr>
        <td>Total: </td>
        <td>$<%= total(@current_month) %></td>
        <td><%= spending_total(@current_month) %></td>
        <td><%= total(@current_month) - spending_total(@current_month) %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
<br>
<form action="/budget/<%= @current_month %>/new_category" method='get'>
  <button class="new-budget" type="submit">Add Budget Category</button>
</form>

<% if session[:success] %>
  <div class="flash success">
    <p><%= session.delete(:success) %></p>
  </div>
<% end %>


